%h1 Artists

%ul.thumbnails
  - @artists.each do |artist|
    = render partial: 'artists/artist', locals: {artist: artist, edit: true}

%br

= link_to 'Create an artist', new_artist_path, class: 'btn btn-primary btn-large'
\|
= link_to 'Back', '/'
