%h3 Artists:
-@artists.each do |artist|
  %p= link_to artist.name, artist
%h3 Albums:
-@albums.each do |album|
  %p= link_to album.name, album
%h3 Songs:
-@songs.each do |song|
  %p= link_to song.name, song