%h1 Search results:

%ul.thumbnails
  %h3.span12 Artists
  -if @artists.count >0
    -@artists.each do |artist|
      = render partial: 'artists/artist', locals: {artist: artist, edit: false}
  -else
    %p.span12 No matching artists found.

%ul.thumbnails  
  %h3.span12 Albums
  -if @albums.count >0
    -@albums.each do |album|
      = render partial: 'albums/album', locals: {album: album, edit: false}
  -else
    %p.span12 No matching albums found.

%h3 Songs
-if @songs.count > 0
  %table.table
    -@songs.each do |song|
      %tr
        %td= song.name
        %td= to_min_sec song.duration
-else
  %p No matching songs found.