= f.input :name, 
          placeholder: 'name', 
          label: false, 
          wrapper_html: { class: 'inline' }
= f.input :duration, 
          placeholder: 'duration (seconds)', 
          label: false, 
          wrapper_html: { class: 'inline' },
          :input_html => { :class => 'span2' }
= f.link_to_remove 'remove'