%h1 Albums
%ul.thumbnails
  - @albums.each do |album|
    = render partial: 'albums/album', locals: {album: album, edit: true}

= link_to 'Create an album', new_album_path, class: 'btn btn-primary btn-large'
\|
= link_to 'Back', '/'